{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-6 offset-3">
                {% if error %}
                    <div class="my-3 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="my-3 alert alert-info" role="alert">
                        Vous êtes identifié en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Vous déconnecter</a>
                    </div>
                {% else %}
                    <form method="post">
                        <h1 class="h3 my-4 font-weight-normal">Identifiez-vous</h1>
                        <div class="mb-3">
                            <label for="username" class="form-label">Votre Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Votre Password</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button class="btn btn-dark mt-3 form-control" type="submit">
                            Identification
                        </button>
                    </form>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
