{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Posts{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-9 offset-1">
                <h1 class="display-4 py-3">Gestion des articles</h1>
                <a href="{{ path('app_admin_newpost') }}" class="btn btn-outline-primary">Nouvel article</a>
                <table class="table table-hover my-4 pt-3 display" id="liste">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Categorie</th>
                        <th>Création</th>
                        <th>Auteur</th>
                        <th>Mise à jour</th>
                        <th><i class="icofont-ui-delete"></i></th>
                        <th><i class="icofont-ui-edit"></i></th>
                        <th><i class="icofont-eye-open"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td><img src="{{ asset('images/posts/' ~ post.image) }}" alt="" class="thumbnail"></td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.category.name }}</td>
                            <td>{{ post.createdAt|date('d/m/Y') }}</td>
                            <td>{{ post.user.firstName }} {{ post.user.lastName }}</td>
                            <td>{{ post.editedAt|date('d/m/Y') }}</td>
                            <td><a href="{{ path('app_admin_delpost', {id:post.id}) }}" class="btn btn-outline-primary"><i class="icofont-ui-delete"></i></a></td>
                            <td><a href="{{ path('app_admin_editpost', {id:post.id}) }}" class="btn btn-outline-danger"><i class="icofont-ui-edit"></i></a></td>
                            <td><a href="{{ path('app_admin_viewpost', {id:post.id}) }}" class="btn btn-outline-success">
                                    {% if post.isPublished %}
                                        <i class="icofont-eye-open"></i>
                                    {% else %}
                                        <i class="icofont-eye-blocked"></i>
                                    {% endif %}
                                    </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    $(function() {
                        $('#liste').DataTable(
                            {
                                lengthChange: false,
                                columnDefs: [
                                    {orderable: false, targets: [0, 5, 6, 7, 8]}
                                ],
                                info: false
                            }
                        );
                    })
                </script>
            </div>
        </section>
    </main>
{% endblock %}

